<div class="grid">
    <div class="col">
        <p-panel header="Perfil do Gato">
            <h1>{{currentCat.title}}</h1>
            <h1>Código: {{index + 1}}</h1>
        </p-panel>
    </div>
    <div class="col">
        <p-carousel [value]="images" [numVisible]="1" (onPage)="setPage($event)"
        [circular]="true" [showIndicators]="true">
        <ng-template pTemplate="item" let-item>
            <img [src]="item.previewImageSrc" style="width: 100%; display: block;" />
        </ng-template>
        </p-carousel>
    </div>
    <div class="col">
        <p-panel header="Contatos da Dona Lúcia">
            <app-footer></app-footer>
        </p-panel>
    </div>
    
</div>